doctype html
html(lang="en")
  head
    title= 'gulp-setup'
    link(rel='stylesheet', href='assets/css/main.css')
  body
    h1 Gulp example
    script(type='text/javascript' src='assets/js/lib.js')
    script(type='text/javascript' src='assets/js/main.js')